[submodule "Revit/RvtVa3c"]
	path = Revit/RvtVa3c
	url = https://github.com/pabloderen/RvtVa3c.git
[submodule "BIMSOCKetViewer"]
	path = BIMSOCKetViewer
	url = https://github.com/vnoves/BIMSOCKetViewer.git
[submodule "Rhino/BIMSocket/RCvA3C"]
	path = Rhino/BIMSocket/RCvA3C
	url = https://github.com/pabloderen/RCvA3C.git
[submodule "Rhino/BIMSocket/RhinoToJson"]
	path = Rhino/BIMSocket/RhinoToJson
	url = https://github.com/pabloderen/RhinoToJson.git
