<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617196332696-4i42391vavlthi2ejttbpvd60lor9imh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617196332696-4i42391vavlthi2ejttbpvd60lor9imh</string>
	<key>API_KEY</key>
	<string>AIzaSyAvMvmf57qJmwk2PDldDVoBsUFyYVnJ1YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>617196332696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engworks.bimsocket</string>
	<key>PROJECT_ID</key>
	<string>bimsocket-db</string>
	<key>STORAGE_BUCKET</key>
	<string>bimsocket-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617196332696:ios:82d85d84d45b2f832e12ed</string>
	<key>DATABASE_URL</key>
	<string>https://bimsocket-db.firebaseio.com</string>
</dict>
</plist>